
/* parent container */

.container-father{
    background: #370617;
    width: 1152px;
    display: flex;
    flex-wrap: wrap;

}


.yellow-container-1, .yellow-container-2, .yellow-container-3, .yellow-container-4, .yellow-container-5, .yellow-container-6{
    background: #F48C06;
    height: 160px;
    width: 468px;
    margin:20px;
    border-radius: 10px;
    display: flex;
   
}  

.yellow-container-1 {
    align-items: flex-end;


}

.yellow-container-2 {

    align-items: center;
    justify-content: center;

}

.yellow-container-3 {
    justify-content: flex-end;
    align-items: center;
}

.yellow-container-4 {
    align-items: baseline;
    justify-content: space-between;
    align-self: flex-end;

}

.yellow-container-5 {
    justify-content: space-evenly;
}
 
.yellow-container-6 {
    flex-wrap: wrap;
    align-items: center;
}


/*  rectangle 1*/

.box-red-1{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 2*/
.box-red-2{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 3*/
.box-red-3{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 4*/
.box-red-4{
    background: #9D0208;
    width: 78px;
    min-height:120px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 5*/
.box-red-5{
    background: #9D0208;
    width: 78px;
    min-height:120px;
    margin: 10px;
    border-radius: 9px;
}

/*  rectangle 6*/
.box-red-6{
    background: #9D0208;
    width: 78px;
    min-height:120px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 7*/
.box-red-7{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}


/*  rectangle 8*/
.box-red-8{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

    /*  rectangle 9*/
.box-red-9{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

.letter-1, .letter-3 {
    margin: 10px;
    color:white;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-size: 12px;

}

.letter-2{
    margin-top: 10px;
    margin: 10px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

 
   /*  rectangle 10*/
.box-red-10{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 11*/
.box-red-11{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 12*/
.box-red-12{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
}


/*  rectangle 13*/
.box-red-13{
    background: #9D0208;
    width: 78px;
    min-height:120px;
    margin: 10px;
    border-radius: 10px;
}

/*  rectangle 14*/
.box-red-14{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
    flex-basis: 20px; /* Establece el tamaño inicial más pequeño */
    flex-shrink: 1; /* Permitir que el elemento se encoja*/
}

/*  rectangle 15*/
.box-red-15{
    background: #9D0208;
    width: 78px;
    min-height:120px;
    margin: 10px;
    border-radius: 10px;
    align-self: flex-end;
    justify-content: space-between;
}

/*  rectangle 16*/
.box-red-16{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
    flex-wrap:wrap;
}

/*  rectangle 17*/
.box-red-17{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
    flex-wrap: nowrap;
}

/*  rectangle 18*/
.box-red-18{
    background: #9D0208;
    width: 78px;
    min-height:78px;
    margin: 10px;
    border-radius: 10px;
    flex-wrap:wrap
}





